*
body{
    background-color: rgb(255, 240, 252);
}

#box{
     border: 4px solid blue;
     background-color: aqua;
     margin-top: 20px;
}

h2{
    margin-left: 5px;
}

p{
    margin-left: 10px;
}

#emptybtn{
    margin: 5px;
    color: blue;
    margin-left: 270px;
}

#removebtn{
    color: blue;
    margin: 5px;
}